* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Lato'
  }
  .loader-page {
    background-color: #333;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .5s ease-out;
  }
  .loader-container {
    width: 600px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    width: 500px;
    height: 5px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
  }
  .loader-fill {
    background-color: steelblue;
    width: 0px;
    height: 100%;
    position: absolute;
  }
  .loader-counter {
    position: absolute;
    bottom: 15px;
    font-size: 5rem;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 500;
    letter-spacing: -5px;
    color: steelblue;
    z-index: 9;
  }
  h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  header {
    background-image: url('http://source.unsplash.com/random/1080x1900');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  h1 {
    position: absolute;
    z-index: 1;
  }

